body{
    border-radius: 10px;
    background-color: aqua;
}
.container{
    
    margin-top: 150px;
}
.card{
    background-color: bisque;
    width: 70%;
    height: 100%;
    margin-left: 120px;

}
button{
    margin-left: 240px;
}